allow init debugfs:file write;

allow init sysfs_touchscreen:file setattr;

allow init proc_driver_audio:file w_file_perms;

allow init hal_drm_hwservice:hwservice_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder { call transfer }; 
allow init shell_exec:file execute_no_trans;
allow init vndbinder_device:chr_file { ioctl open read write };
allow init vendor_file:file execute_no_trans;

# SELinux : avc:  denied  { add } for interface=android.hardware.drm::IDrmFactory sid=u:r:init:s0 pid=5031 scontext=u:r:init:s0 tcontext=u:object_r:hal_drm_hwservice:s0 tclass=hwservice_manager permissive=0
allow init hal_drm_hwservice:hwservice_manager add;

# light hal from ZenFone 3
allow init vendor_file:file execute_no_trans;
